@font-face {
    font-family: 'ctc_splash_roundedbold';
    src: url('fonts/ctc_splash_bold.eot');
    src: url('fonts/ctc_splash_bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ctc_splash_bold.woff') format('woff'),
    url('fonts/ctc_splash_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_round_probold';
    src: url('fonts/ff_din_roundpro_bold.eot');
    src: url('fonts/ff_din_roundpro_bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ff_din_roundpro_bold.woff') format('woff'),
    url('fonts/ff_din_roundpro_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* start reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal; }
ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{outline:none;color:#000;}
header,footer,article,section,hgroup,nav,figure,aside{display:block;}
/* end reset */

/*-----------------------------general------------------------*/
html {
    height: 100%;
    min-width: 1194px;
}

body {
    height: 100%;
    min-width: 1194px;
    color: #3e3e3e;
}

body.main {
    background: #2fa0da url(../images/main-back.jpg) center top no-repeat;
    color: #fff;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    min-width: 1194px;
}

.inner {
    width: 910px;
    margin: 0 auto;
    position: relative;
}

/*-----------------------------main-page------------------------*/
.main-page {
    width: 1020px;
    background: url(../images/main-top-back1.png) 0 -53px no-repeat;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 29px;
}

.main-page a {
    color: #fff;
}

.main-top {
    width: 530px;
    margin: 457px auto 0 auto;
}

.main-text {
    text-align: center;
}

.slogan {
    font:56px 'ctc_splash_roundedbold', sans-serif;
    letter-spacing: 0.75px;
    line-height: 59px;
}

.slogan span {
    display: inline-block;
    width: 219px;
    height: 39px;
    background: url(../images/mini-logo.png) no-repeat;
    margin-left: 3px;
}

.main-line {
    display: block;
    height: 4px;
    width: 530px;
    background-color: #f142aa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 19px auto 0 auto;
}

.slogan-text {
    font:24px 'din_round_probold', sans-serif;
    margin-top: 25px;
    line-height: 28px;
    letter-spacing: 0.55px;
}

.main-bottom {
    width: 477px;
    margin: 212px auto 0 auto;
}

.main-bottom-content {
    font-family: 'din_round_probold', sans-serif;

}
.new-channel-title {
    color: #ffd913;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 1;
}
.for-operators {
    width: 445px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    margin: 31px auto 0 auto;
    line-height: 1;
}

.main-bottom-content ul {
    font-size: 28px;
    display: block;
    margin-top: 11px;
    overflow: hidden;
}

.main-bottom-content ul li {
    float: left;
    letter-spacing: 0.25px;
    line-height: 1;
}

.main-bottom-content ul li:first-child {
    margin-right: 35px;
}

.main-bottom-content ul li span {
    font-size: 21px;
}

.main-bottom-content a {
    width: 180px;
    display: block;
    font-size: 18px;
    margin: 16px auto 0 auto;
    letter-spacing: 0.2px;
    line-height: 1;
}

/*-----------------------------header------------------------*/
#header {
    position: relative;
    width: 100%;
    -moz-box-shadow:0 10px 18px rgba(0,0,0,.15);
    -webkit-box-shadow:0 10px 18px rgba(0,0,0,.15);
    box-shadow:0 10px 18px rgba(0,0,0,.15);
    z-index: 100;
}

.header-top {
    width: 100%;
    height: 156px;
    background: #006fee url(../images/header-top-back.jpg) center top no-repeat;
}

#logo {
    display: block;
    width: 285px;
    height: 95px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-top: 21px;
}

#logo a {
    display: block;
    height: 100%;
}

.top-links {
    display: block;
    float: right;
    margin-top: 38px;
}

.top-links a {
    display: block;
    height: 27px;
    border: 3px solid #fff;
    font: 20px 'ctc_splash_roundedbold', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 4px 13px 0 12px;
    margin-bottom: 10px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

.top-links a:hover {
    color: #00a1eb;
    background-color:  #fff;
}

.header-bottom {
    height: 50px;
    background: rgb(231, 162, 23);
    background: -moz-linear-gradient(top, rgba(251, 178, 21, 1) 0%, rgba(251, 178, 21, 1) 6%, rgba(249, 177, 21, 1) 9%, rgba(241, 170, 22, 1) 24%, rgba(232, 163, 23, 1) 38%, rgba(221, 155, 24, 1) 62%, rgba(208, 144, 26, 1) 79%, rgba(196, 135, 27, 1) 91%, rgba(190, 130, 28, 1) 97%, rgba(190, 130, 28, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 178, 21, 1)), color-stop(6%, rgba(251, 178, 21, 1)), color-stop(9%, rgba(249, 177, 21, 1)), color-stop(24%, rgba(241, 170, 22, 1)), color-stop(38%, rgba(232, 163, 23, 1)), color-stop(62%, rgba(221, 155, 24, 1)), color-stop(79%, rgba(208, 144, 26, 1)), color-stop(91%, rgba(196, 135, 27, 1)), color-stop(97%, rgba(190, 130, 28, 1)), color-stop(100%, rgba(190, 130, 28, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 178, 21, 1) 0%, rgba(251, 178, 21, 1) 6%, rgba(249, 177, 21, 1) 9%, rgba(241, 170, 22, 1) 24%, rgba(232, 163, 23, 1) 38%, rgba(221, 155, 24, 1) 62%, rgba(208, 144, 26, 1) 79%, rgba(196, 135, 27, 1) 91%, rgba(190, 130, 28, 1) 97%, rgba(190, 130, 28, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 178, 21, 1) 0%, rgba(251, 178, 21, 1) 6%, rgba(249, 177, 21, 1) 9%, rgba(241, 170, 22, 1) 24%, rgba(232, 163, 23, 1) 38%, rgba(221, 155, 24, 1) 62%, rgba(208, 144, 26, 1) 79%, rgba(196, 135, 27, 1) 91%, rgba(190, 130, 28, 1) 97%, rgba(190, 130, 28, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 178, 21, 1) 0%, rgba(251, 178, 21, 1) 6%, rgba(249, 177, 21, 1) 9%, rgba(241, 170, 22, 1) 24%, rgba(232, 163, 23, 1) 38%, rgba(221, 155, 24, 1) 62%, rgba(208, 144, 26, 1) 79%, rgba(196, 135, 27, 1) 91%, rgba(190, 130, 28, 1) 97%, rgba(190, 130, 28, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(251, 178, 21, 1) 0%, rgba(251, 178, 21, 1) 6%, rgba(249, 177, 21, 1) 9%, rgba(241, 170, 22, 1) 24%, rgba(232, 163, 23, 1) 38%, rgba(221, 155, 24, 1) 62%, rgba(208, 144, 26, 1) 79%, rgba(196, 135, 27, 1) 91%, rgba(190, 130, 28, 1) 97%, rgba(190, 130, 28, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb215', endColorstr='#bc801c', GradientType=0); /* IE6-8 */
}

#top-menu {
    height: 50px;
    margin-left: -20px;
}

#top-menu ul {
    overflow: hidden;
    height: 50px;
}

#top-menu ul li {
    float: left;
    display: block;
    height: 50px;
    overflow: hidden;
}

#top-menu ul li a {
    display: block;
    float: left;
    padding: 13px 20px 0 20px;
    height: 38px;
    text-shadow: 1px 1px 2px #8e4f09;
    color: #fff;
    font: 24px 'ctc_splash_roundedbold', sans-serif;
    letter-spacing: -0.5px;
    text-decoration: none;
}

#top-menu ul li:hover,
.home-menu-item:hover {
    background: rgb(64,50,89); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(64,50,89,1) 0%, rgba(122,95,170,1) 15%, rgba(122,95,170,1) 85%, rgba(64,50,89,1) 100%, rgba(64,50,89,1) 100%, rgba(64,50,89,1) 100%, rgba(64,50,89,1) 100%, rgba(64,50,89,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,50,89,1)), color-stop(15%,rgba(122,95,170,1)), color-stop(85%,rgba(122,95,170,1)), color-stop(100%,rgba(64,50,89,1)), color-stop(100%,rgba(64,50,89,1)), color-stop(100%,rgba(64,50,89,1)), color-stop(100%,rgba(64,50,89,1)), color-stop(100%,rgba(64,50,89,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(64,50,89,1) 0%,rgba(122,95,170,1) 15%,rgba(122,95,170,1) 85%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(64,50,89,1) 0%,rgba(122,95,170,1) 15%,rgba(122,95,170,1) 85%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(64,50,89,1) 0%,rgba(122,95,170,1) 15%,rgba(122,95,170,1) 85%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(64,50,89,1) 0%,rgba(122,95,170,1) 15%,rgba(122,95,170,1) 85%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%,rgba(64,50,89,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403259', endColorstr='#403259',GradientType=1 ); /* IE6-9 */
}

#top-menu ul li:hover a {
    text-shadow: 1px 1px 2px #62383a;
}

#top-menu ul li.home-menu-item a {
    display: block;
    width: 27px;
    height: 28px;
    padding: 12px 20px 10px 20px;
    background: url(../images/header-home-link.png) center center no-repeat;
}

.header-nav-line {
    display: block;
    float: left;
    width: 2px;
    height: 50px;
    background: url(../images/header-nav-line.jpg) no-repeat;
}

/*-----------------------------end header------------------------*/

/*-----------------------------footer------------------------*/
#footer {
    height: 76px;
    margin: -76px auto 0;
    font: 14px Arial, Helvetica, sans-serif;
    color: #999;
}

.copyright {
    float: left;
    margin: 30px 0;
}
/*-----------------------------end footer------------------------*/

/*-----------------------------breadcrumbs------------------------*/
.breadcrumbs, .breadcrumbs a {
    color: #cbcbcb;
    font-size: 14px;
}

.breadcrumbs {
    padding-top: 28px;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li span {
    display: inline-block;
    margin-left: 3px;
}

/*-----------------------------end breadcrumbs------------------------*/

/*-----------------------------home-page------------------------*/
.content {
    padding: 0 0 76px 0;
    font:16px Arial, Helvetica, sans-serif;
}

.home-slider {
    height: 340px;
    position: relative;
}

.home-slider-inner {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

.arrow-left,
.arrow-right {
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    top: 147px;
    z-index: 100;
}

.arrow-left {
    float: left;
    left: 0;
    background: url(../images/home-slider-arrows.png) 0 0 no-repeat
}

.arrow-right {
    float: right;
    right: 0;
    background: url(../images/home-slider-arrows.png) -49px 0 no-repeat
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: .5;
}

.swiper-container {
    position: relative;
    z-index: 10;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide img {
    position: relative;
    margin: 0 auto;
    width: 2560px;
    height: 100%;
    left: -550px;
}

.home-banner {
    height: 80px;
    width:100%;
    background: #0875bb url(../images/home-banner.jpg) center top no-repeat;
    -moz-box-shadow:0 10px 20px rgba(0,0,0,.18);
    -webkit-box-shadow:0 10px 20px rgba(0,0,0,.18);
    box-shadow:0 10px 20px rgba(0,0,0,.18);
}

.how-to-connect {
    padding-bottom: 14px;
}

.how-to-connect ol {
    list-style-position: inside
}

.how-to-connect ol li {
    margin-bottom: 14px;
}

.how-to-connect table {
    width: 100%;
    font-size: 16px;
}

.how-to-connect table td a {
    font-size: 16px;
    color: #26a8ec;
    text-decoration: underline;
}


.how-to-connect th {
    background: #00a1eb;
    color: #fff;
    border: 1px solid #bababa;
    padding: 12px 20px;
}

.how-to-connect td {
    border: 1px solid #bababa;
    padding: 12px 20px;
}

.home-projects {
    width: 100%;
    color: #fff;
    min-height: 554px;
    background: #0770b2 url(../images/home-blocks-back.jpg) center top no-repeat;
    -moz-box-shadow:0 10px 18px rgba(0,0,0,.15);
    -webkit-box-shadow:0 10px 18px rgba(0,0,0,.15);
    box-shadow:0 10px 18px rgba(0,0,0,.15);
}

.home-projects-content {
    position: relative;
    bottom: 0;
    top: 0;
    width: 1040px;
    min-height: 524px;
    background: url(../images/our-projects.png) 368px bottom no-repeat;
    overflow: hidden;
    padding-bottom: 68px;
}

.home-projects-content.no-back {
    background: none;
}

.home-projects h3 {
    display: block;
    font: 36px 'ctc_splash_roundedbold', sans-serif;
    padding: 71px 0 39px 0;
}

.home-projects-wrap.small {
    width: 450px;
}

.home-projects-wrap.large {
    width: 924px;
}

.small, .large {
    display: none;
}

.small.show, .large.show {
    display: block;
}

.home-projects-block {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 19px 26px;
}

.home-projects-wrap.small .home-projects-block:nth-child(2n+1) {
    margin: 0 0 19px 0;
}

.home-projects-wrap.large .home-projects-block:nth-child(4n+1) {
    margin: 0 0 19px 0;
}

.home-projects-preview {
    width: 205px;
    height: 100px;
    position: relative;
}

.home-projects-preview .project-details {
    width: 205px;
    height: 100px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.70) url(../images/project-details.png) center center no-repeat;
}

.home-projects-preview:hover .project-details {
    display: block;
}

.genre {
    display: block;
    font-size: 14px;
    margin: 8px 0 3px 0;
}

.project-name {
    display: block;
    font-weight: bold;
    color: #fff;
    width: 200px;
}

.home-projects-wrap .more-projects {
    display: block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0 5px 40px;
}

.home-projects-wrap.small .more-projects {
    background: url(../images/projects-add.png) 0 0 no-repeat;
}

.home-projects-wrap.large  .more-projects {
    background: url(../images/projects-add.png) 0 -35px no-repeat;
}

.how-to-connect h3,
.about-channel h3 {
    display: block;
    font: 36px 'ctc_splash_roundedbold', sans-serif;
    color: #00a1eb;
    padding: 25px 0 33px 0;
}

.how-to-connect p,
.about-channel p {
    line-height: 20px;
    margin-bottom: 19px;
    letter-spacing: 0.25px;
}

.home-text-block {
    width: 426px;
    display: inline-block;
    vertical-align: top;
    margin-right: 53px;
}

.home-text-block:last-child {
    margin-right: 0;
}

.how-to-connect ins,
.about-channel ins {
    color: #00a1eb;
}

.how-to-connect a {
    color: #00a1eb;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.for-partners {
    width: 100%;
    color: #fff;
    min-height: 554px;
    background: #0770b2 url(../images/home-blocks-back.jpg) center -5px no-repeat;
}

.for-partners-content {
    position: relative;
    bottom: 0;
    top: 0;
    width: 1040px;
    min-height: 587px;
    background: url(../images/for-partners.png) 420px bottom no-repeat;
    overflow: hidden;
}

.for-partners h3 {
    display: block;
    font: 36px 'ctc_splash_roundedbold', sans-serif;
    padding: 58px 0 33px 0;
}

.for-partners p {
    width: 424px;
    line-height: 20px;
    margin-bottom: 19px;
    letter-spacing: 0.25px;
}
/*-----------------------------end home-page------------------------*/

/*-----------------------------feedback-page------------------------*/
.feedback {
    height: 680px;
    background: url(../images/feedback.jpg) center top no-repeat;
}

.feedback h1 {
    color: #fff;
    font: 36px 'ctc_splash_roundedbold', sans-serif;
    margin: 22px 0 27px 0;
}

.feedback-form {
    width: 385px;
    height: 435px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 27px 21px 0 20px;
    -moz-box-shadow:2px 3px 8px rgba(0,0,0,.5);
    -webkit-box-shadow:2px 3px 8px rgba(0,0,0,.5);
    box-shadow:2px 3px 8px rgba(0,0,0,.5);
}

.feedback-row {
    margin-bottom: 17px;
}

.feedback-row label {
    display: block;
    font: 18px 'ctc_splash_roundedbold', sans-serif;
    color: #0098e8;
    margin-bottom: 9px;
}

.feedback-row select {
    width: 386px;
    height: 35px;
    outline: none;
    color: #a3a3a3;
}

.feedback-row .feedback-select {
    width: 386px;
    height: 35px;
}

.feedback-row  .feedback-select a {
    border: 1px solid #cbcbcb;
    border-radius: 0;
    background: #fff url(../images/select-arrow.jpg) 97.5% 50%  no-repeat;
    color: #a3a3a3;
    height: 35px;
}

.feedback-row  .feedback-select.select2-dropdown-open a {
    background: #fff url(../images/select-arrow-hvr.jpg) 97.5% 50%  no-repeat;
}

.feedback-row  .feedback-select .select2-arrow {
    display: none;
}

.select2-drop-active {
    border: 1px solid #cbcbcb;
    border-radius: 0;
    margin: 0;
}

.select2-results .select2-highlighted {
    background: #0098e8;
}

.select2-search {
    display: none;
}

.select2-results {
    font: 16px Arial, Helvetica, sans-serif;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
}

.select2-results li {
    border-top: 1px solid #cbcbcb;
    height: 35px;
}

.select2-results li:first-child {
    border: 0;
}

.select2-results .select2-result-label {
    padding: 8px 7px 4px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    box-shadow: none;
}

.select2-container .select2-choice > .select2-chosen {
    margin-top: 4px;
}

.feedback-row textarea, .feedback-row input[type="text"] {
    width: 364px;
    border: 1px solid #cbcbcb;
    outline: none;
    padding: 0 10px;
    font: 16px Arial, Helvetica, sans-serif;
}

.feedback-row textarea {
    height: 108px;
    padding: 10px;
}

.feedback-row input[type="text"] {
    height: 33px;
}

.feedback-row textarea:focus, .feedback-row input[type="text"]:focus {
    border: 1px solid #00a1eb;
}

.error input[type="text"] {
    border: 1px solid #ed1c24;
    color: #ed1c24;
}

.feedback-row input[type="text"]:focus {
    color: #000;
}

.feedback-buttons {
    margin: 35px 0 0 7px;
}

.feedback-form input[type="submit"], .feedback-form input[type="button"] {
    width: 177px;
    height: 37px;
    cursor: pointer;
    background-color: #fff;
    font: 20px 'ctc_splash_roundedbold', sans-serif;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}
.feedback-form input[type="submit"] {
    margin-right: 10px;
    color: #20ac00;
    border:3px solid #20ac00;
}

.feedback-form input[type="button"] {
    color: #ff0000;
    border:3px solid #ff0000;
}

.feedback-form input[type="submit"]:hover {
    color: #fff;
    background-color: #20ac00;
}

.feedback-form input[type="button"]:hover {
    color: #fff;
    background-color: #ff0000;
}

.error-msg {
    display: block;
    font-size: 14px;
    color: #fff;
    background: url(../images/error-msg.png) no-repeat;
    padding: 5px 0 7px 40px;
    margin: 35px 0 0 20px;
}

/*-----------------------------program-page------------------------*/

.program {

}

.program .breadcrumbs, .program .breadcrumbs a {
    color: #949494;
}

.program h1 {
    color: #00a1eb;
    font: 36px 'ctc_splash_roundedbold', sans-serif;
    margin: 22px 0 23px 0;
}

.program-pagination {
    overflow: hidden;
    margin-bottom: 49px;
}

.program-pagination ul {
    font: 24px 'ctc_splash_roundedbold', sans-serif;
    float: left;
}
.program-pagination ul li {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 46px;
    overflow: hidden;
    list-style: none outside;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: #f5ad16;
    margin-right: 6px;
}

.program-pagination ul li a {
    text-decoration:  none;
    color: #fff;
    display: block;
    padding-top: 10px;
    height: 36px;
    text-align: center;
}

.program-pagination ul li.curr {
    background-color: #00a1eb;
}

.program-pagination ul li.prev,
.program-pagination ul li.next {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 4px solid #00a1eb;
}

.program-pagination ul li.prev {
    background: url(../images/program-pagination-prev.png) 11px 10px no-repeat;
    margin-right: 17px;
}

.program-pagination ul li.next {
    background: url(../images/program-pagination-next.png) 15px 10px no-repeat;
    margin-left: 10px;
}

.show-old-programs {
    display: block;
    float: left;
    font-size: 18px;
    color: #545454;
    text-decoration: none;
    height: 30px;
    background: url(../images/show-old.png) no-repeat;
    padding: 5px 0 7px 40px;
    margin: 11px 0 0 64px;
}

.program-date {
    display: block;
    float: left;
    margin: 8px 0 0 67px;
}

.program-block {
    min-height: 166px;
    background-color: #fff;
    overflow: hidden;
}

.program-block:nth-child(2n) {
    background-color: #f3f3f3;
}

.program-block.past-program {
    opacity: .5;
}


.program-block.current-program {
    background-color: #00a1eb;
}

.program-time {
    float: left;
    height: 107px;
    width: 139px;
    background: url(../images/clock.png) 0 60px no-repeat;
    padding: 57px 0 0 60px;
}

.program-time .time {
    display: block;
    font-size: 24px;
}

.program-time .days {
    display: block;
    font-size: 16px;
    color: #7c7c7c;
    margin-top: 2px;
}

.program-block.current-program .program-time,
.program-block.current-program .program-time .days,
.program-block.current-program .program-description,
.program-block.current-program .program-description .program-genre,
.program-block.current-program .program-description .program-full-description {
    color: #fff;
}

.program-poster {
    float: left;
    margin-top: 20px;
    width: 200px;
    height: 126px;
}

.program-description {
    width: 427px;
    float: left;
    padding: 55px 0 10px 38px;
}

.program-description span {
    display: block;
}

.program-title {
    width: 420px;
    font-size: 24px;
    word-wrap: break-word;
}

.program-genre {
    font-size: 16px;
    margin-top: 3px;
    color: #7c7c7c;
}

.program-full-description {
    display: none;
    font-size: 16px;
    color: #3e3e3e;
    margin-top: 17px;
}

.hover .program-description {
    padding: 15px 0 30px 38px;
}

.hover .program-full-description {
    display: block;
}

.rate {
    height: 45px;
    width:45px;
    margin-top: 59px;
}

.hover .rate {
    display: none;
}

.program-block.current-program .program-time {
    background: url(../images/clock-curr.png) 0 60px no-repeat;
}

/*-----------------------------end program-page--------------------*/