/* start reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal; }
ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{outline:none;color:#000;}
header,footer,article,section,hgroup,nav,figure,aside{display:block;}
/* end reset */

/*-----------------------------general------------------------*/
html {
  height: 100%;
}

body {
    height: 100%;
    font: 16px Arial, Helvetica, sans-serif;
    color: #777;
}

.login {
    background: #2fa0da url(../images/main-back.jpg) center top no-repeat;
	height: 100%;
}

center
{
	height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.inner {
    width: 1100px;
    margin: 0 auto;
}

/*-----------------------------header------------------------*/
.admin-panel #header {
    width: 100%;
    background: #0162cb;
}

.admin-menu {
    display: block;
    overflow: hidden;
    min-height: 50px;
}

.admin-menu li {
    float: left;
    height: 100%;
}

.admin-menu a {
    display: block;
    min-height: 30px;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}

.admin-menu a:hover {
    background-color: #0a59ae;
}

.add-dir {
     background: url(../images/icons/add-dir.png) 15px 10px no-repeat;
     padding: 15px 20px 5px 58px;
 }

.add-file {
    background: url(../images/icons/add-file.png) 15px 10px no-repeat;
    padding: 15px 20px 5px 48px;
}

.upload-file {
    background: url(../images/icons/upload-file.png) 15px 10px  no-repeat;
    padding: 15px 20px 5px 50px;
}

#upload-file
{
	width: 500px;
	border: 1px solid black;
}

.logout {
    background: url(../images/icons/logout.png) 15px 10px  no-repeat;
    padding: 15px 20px 5px 50px;
}

/*-----------------------------footer------------------------*/
#footer {
    height: 76px;
    margin: -76px auto 0;
    font: 14px Arial, Helvetica, sans-serif;
    color: #999;
}

.copyright {
    float: left;
    margin: 30px 0;
}

/*-----------------------------login-page------------------------*/
.admin-login {
    width: 320px;
    padding: 5% 0 0;
    margin: auto;
}

.admin-login h1 {
    text-align: center;
}

.admin-login h1 a {
    width: 288px;
    height: 95px;
    background: url(../images/logo.png) no-repeat;
    color: #999;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}

.admin-login-form {
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    background: #fff;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    margin: 50px 0 0 0;
    padding: 26px 24px 46px;
}

.admin-login-form p label {
    vertical-align: middle;
    cursor: pointer;
}

.admin-login-form input[type=text],
.admin-login-form input[type=password]{
    background: #fbfbfb;
    line-height: 1;
    height: 30px;
    width: 259px;
    padding: 3px;
    margin: 2px 0 16px 0;
    outline: none;
    border: 1px solid #999;
	font-size: 14px;
	padding-left: 5px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.admin-login-form input[type=text]:focus,
.admin-login-form input[type=password]:focus {
    border: 1px solid #00a1eb;
}

.admin-login-form.error input[type=text],
.admin-login-form.error input[type=password] {
    border: 1px solid #ed1c24;
    color: #ed1c24;
}

.error-msg {
    display: none;
    color: #ed1c24;
    margin-bottom: 10px;
}

.admin-login-form.error .error-msg {
    display: block;
}

.admin-login-form input[type=submit] {
    height: 30px;
    color: #fff;
    float: right;
    cursor: pointer;
    background: #2ea2cc;
    border: 1px solid #0074a2;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 10px;
    -moz-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
}

/*-----------------------------admin-panel------------------------*/
.admin-main {
    margin-top: 20px;
}

.admin-panel-title {
    background: #00a1eb;
    color: #fff;
    text-align: center;
    border: 1px solid #bababa;
    padding: 10px;
}

.admin-panel-content {
    border: 1px solid #bababa;
    border-top:0;
    overflow: hidden;
    background-color: #eee;
}

.admin-content-left {
    border-right: 1px solid #bababa;
    float: left;
    padding-bottom: 10px;
    width: 300px;
}

.admin-content-right {
    width: 797px;
    float: left;
    padding-bottom: 10px;
}

.admin-panel-content table {
    width: 100%;
}

.admin-panel-content table th {
    padding: 5px 2px;
    color: #000;
}

.admin-panel-content table td {
    padding: 5px;
    font-size: 14px;
}

.admin-panel-content table a {
    text-decoration: none;
    display: block;
}

.admin-panel-content table td a {
    color: #777;
}

.admin-panel-content table a:hover {
    text-decoration:  underline;
}

.admin-content-left .name {
    width: 185px;
}

.admin-content-right .name {
	display: block;
	width: 138px;
	overflow: hidden;
}

.folder {
    width: 16px;
    height: 12px;
}

.folder a {
    height: 12px;
    background: url(../images/icons/folder.png) no-repeat;
}

.document {
    width: 12px;
    height: 16px;
    padding: 5px 2px;
}

.document span {
    display: block;
    height: 16px;
    background: url(../images/icons/document.png) no-repeat;
}

.rename {
    height: 14px;
}

.rename a {
    width: 12px;
    height: 16px;
    background: url(../images/icons/rename.png) no-repeat;
    margin: 0 auto;
}

.delete {
    height: 16px;
}

.delete a {
    width: 15px;
    height: 16px;
    background: url(../images/icons/delete.png) no-repeat;
    margin: 0 auto;
}

.download {
    height: 13px;
}

.download a {
    width: 16px;
    height: 13px;
    background: url(../images/icons/download.png) no-repeat;
    margin: 0 auto;
}

.edit {
    height: 16px;
}

.edit a {
    width: 16px;
    height: 16px;
    background: url(../images/icons/edit.png) no-repeat;
    margin: 0 auto;
}


/*-----------------------------dialogs------------------------*/
.dialog {
    /*display: none;*/
}

.ui-dialog-titlebar {
    display: none;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-dialog .ui-dialog-content, .ui-dialog {
    padding: 0;
}

.dialog-titlebar {
    min-height: 20px;
    background-color: #00a1eb;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
}

.dialog-title {
    font-size: 14px;
    margin: 15px 0;
}

.dialog-close {
    width: 15px;
    height: 15px;
    background: url(../images/dialog-close.png) no-repeat;
    cursor: pointer;
    float: right;
}

.dialog-content {
    padding: 15px 10px;
    overflow: hidden;
}

.dialog-content form {
    overflow: hidden;
}

.dialog input[type=text] {
    background: #fbfbfb;
    line-height: 1;
    height: 30px;
    width: 271px;
    padding: 3px;
    margin: 2px 0 16px 0;
    outline: none;
    border: 1px solid #999;
    font-size: 14px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.dialog input[type=text]:focus,
#edit textarea:focus {
    border: 1px solid #00a1eb;
}

.dialog input[type=submit],
.dialog input[type=reset] {
    height: 30px;
    color: #fff;
    float: right;
    cursor: pointer;
    background: #2ea2cc;
    border: 1px solid #0074a2;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 10px;
    -moz-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
}

.dialog a {
    height: 20px;
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background: #2ea2cc;
    border: 1px solid #0074a2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -moz-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    padding: 5px 10px;
    margin-left: 10px;
}

.dialog input[type=file] {
    font-size: 14px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

.ui-widget-overlay {
    background: #777;
    opacity: 0.5;
}

#edit textarea {
    width: 760px;
    height: 300px;
    overflow-y: auto;
    font-size: 14px;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
}

#edit label {
    font-size: 14px;
}

#edit input[type=reset] {
    margin-right: 10px;
}

#edit input[type=text] {
    margin: 2px 0 0 0;
}

.url
{
	width: 100px;
}